.multi-languages {
    /* position: absolute;  */
    /* right: 10px; */
     /* margin: 5px ; */
     display: flex;
     align-items: center;
}
.multi-languages img {
    margin: 5px;
    transition: .15s ease-in;
    z-index: 1
}

.multi-languages img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.multi-languages img:active{
    width: 40px
}
