.multi-languages {
  display: flex;
  align-items: center;
}
.multi-languages img {
  margin: 5px;
  transition: 0.15s ease-in;
  margin: 5px;
}

.multi-languages img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.multi-languages img:active {
  transform: scale(1.3);
}
