.meal-container {
  background-color: var(--main-bg-color);
  padding-bottom: 115px;
}
.inside-meal {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}

.meal-header {
  display: flex;
}

.arrow-back {
  display: flex;
  align-self: flex-end;
  transition: ease-in-out 0.2s;
  background-color: var(--fields-bg-color);
  border-radius: 10px;
}
.arrow-back:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.meal-title {
  transform: translate(-25.5px);
  margin: 0 auto;
  padding-top: 20px;
  align-self: center;
  color: var(--main-font-color);
  text-decoration: none;
}

/* Search bar */

.meal-search-form {
  display: flex;
  align-items: center;
  background-color: var(--fields-bg-color);
  margin: 15px 0;
  border-radius: 10px;
  outline: #aaa 1px solid;
}
.meal-search-icon {
  margin: 0 10px;
}

.meal-search-input {
  width: 80%;
  height: 40px;
  border: none;
  font-size: 17px;
  background-color: var(--fields-bg-color);
  color: var(--main-font-color);
  outline: none;
}
