.meal-container {
  /* background-color: #51959E; */
  /* background-color: #8C3B07; */
  background-color: var(--main-bg-color);
}
.inside-meal {
  max-width: 600px;
 width: 90%;
  margin: 0 auto;
}

.meal-header {
  display: flex;
  padding-top: 10px;
  /* margin: 0 50px */
}

.arrow-back {
  /* grid-column: 1 / 2;
    grid-row: 1 / 2 */
  transition: ease-in-out 0.2s;
  /* background-color: #f3f4e6; */
  background-color: var(--fields-bg-color);
  border-radius: 10px;
}
.arrow-back:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.meal-title {
  margin: 0 auto;
  padding-top: 20px;
  align-self: center;
  color: #f3f4e6;
  text-decoration: none;
}

/* Search bar */

.meal-search-form {
  display: flex;
  background-color: var(--fields-bg-color);
  padding: 5px;
  margin: 15px 0;
  border-radius: 80px;
  outline: #aaa 1px solid;
}
.meal-search-icon {
  margin-left: 25px;
}

.meal-search-input {
  width: 80%;
  height: 40px;
  border: none;
  font-size: 17px;
  background-color: var(--fields-bg-color);
  outline: none;
}
