.toggle-theme {
  margin: 15px 0;
  width: 55px;
  border-radius: 50px;
  background-color: var(--function-bar-bg);
  border: none
}

.icon-theme {
  background-color: var(--main-color);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 2px 6px;
  transition: background-color .3s ease-in, transform .2s ease-in
}

.toggle-theme:hover {
  cursor: pointer
}

body.dark .icon-theme {
  background-color: var(--main-color);
  transform: translateX(22px);
}

body.dark .icon-theme::after {
  background-color: var(--function-bar-bg);
  position: absolute;
  top: 1.3px;
  left: -2px;
  content: "";
  height: 15px;
  width: 14.5px;
  display: block;
  border-radius: 50%
}

body.dark .toggle-theme {
  background-color: var(--function-bar-bg);
}