.meal-types-of-cooking {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.meal-types-of-cooking img {
  width: 100px;
  padding: 15px;
  background-color: coral;
  margin: 5px 15px;
  border-radius: 20px;
}

.text-relative {
  position: relative;
}

.meal-ingredients {
  transition: ease 0.1s;

}
.meal-ingredients:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.textHide {
  position: absolute;
  top: -160px;
  left: -10%;
  min-width: 160px;
  visibility: hidden;
  color: #000;
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
}
.text-relative:hover .textHide {
  visibility: visible;
}

@media (max-width: 600px){
  
  .meal-types-of-cooking img {
    margin: 5px 1.1rem;
  }
}