.searchBar {
  padding: 15px;
  margin-bottom: 25px;
}
.searchBar .search-icon:hover {
  cursor: pointer;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2e3d5;
  padding: 5px 15px;
  border-radius: 80px;
  outline: #aaa 1px solid;
}

.search-input {
  width: 90%;
  height: 2.5rem;
  border: none;
  font-size: 1.1rem;
  background-color: #f2e3d5;
}

.searchBar .search-input:focus {
  outline: none;
}
