.cook-container {
  background-color: var(--main-bg-color);
  max-width: 700px;
  padding: 4%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.4rem;
  margin-top: 20px;
}

.empty-list {
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cook-item {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  text-decoration: none;
  color: var(--main-font-color);
  position: relative;
}

.cook-item:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  transition: all 0.3s ease;
  width: 0;
}
.cook-item:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-left: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
  transition: all 0.3s ease-in;
  height: 0;
}

.cook-item:hover:before {
  width: 100%;
}
.cook-item:hover:after {
  height: 100%;
}

.cook-container img {
  transition: 0.2s ease;
}
.wrapper-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 160px;
}
.cook-icon {
  color: var(--main-color);
}

.cook-container .type-of-meal {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 10px;
  padding: 3px 15px;
  border-radius: 5px;
}

.breakfast {
  background-color: var(--fields-bg-color);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.lunch {
  background-color: var(--fields-bg-color);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.supper {
  background-color: var(--fields-bg-color);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.snack {
  background-color: var(--fields-bg-color);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.type-of-meal {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .cook-container .empty-list p {
    display: none;
  }

  .cook-container .type-of-meal {
    bottom: 0px;
    left: 0px;
  }

  .cook-iconn {
    /* width: 80px; */
    /* margin: 30px 17px; */
    /* color: red; */
  }
}
