 .datepicker-wrapper {
     display: flex;
     flex-direction: column;
     max-width: 600px;
     width: 92%;
     margin: 0 auto;
     padding-top: 5px;
 }

 .datepicker {
     position: relative;
     min-width: 220px;
     width: 70%;
 }

 .datepicker-input {
     text-align: center;
     width: 100%;
     padding: 7px 17px 7px 7px;
     border-radius: 6px;
     border: none;
     font-size: .9rem;
     line-height: 1.5;
 }

 .datepicker-input:focus {
     outline: none;
 }

 .cancel-datepicker-img {
     position: absolute;
     width: 25px;
     right: 2px;
     top: 5px;
     transition: all ease-in 0.3s
 }

 .cancel-datepicker-img:hover {
     transform: rotate(90deg) scale(1.1);
     cursor: pointer;
 }