.handle-removal button {
  border-radius: 2px;
  border: none;
  padding: 8px;
  background-color: var(--function-bar-bg);
  transition: 0.4s ease;
  color: #fff;
}

.handle-removal button:hover {
  cursor: pointer;
  background-color: black;
}
