.handle-removal button {
    margin: 10px 0;
    justify-content: center;
    border-radius: 8px;
    border: none;
    padding: 8px;
    background-color: var(--fields-bg-color);
    transition: 0.15s ease
}

.handle-removal button:hover {
    cursor: pointer;
    transform: scale(1.02);
} 