/* .toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    position: absolute;
    background-color: azure;
    border-radius: 50px;
    padding: 2px 5px
  }
  
  .toggle-theme-wrapper span {
    font-size: 25px;
  }
  
  .toggle-theme {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 60px;
  }
  
  .toggle-theme input {
    display: none;
  }
  
  .slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  input:checked + .slider {
    background-color: cornflowerblue;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } */



  .toggle-theme {
    position: absolute;
    margin: 5px;
    left: 10px;
    width: 55px;
    border-radius: 50px;
    background-color: #000;
    z-index: 1

  }

  .icon-theme {
    background-color: gray;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 2px 6px;
    transition: background-color .3s ease-in, transform .2s ease-in
  }

  .toggle-theme:hover{
    cursor: pointer
  }

  body.dark .icon-theme {
    background-color:rgb(250, 250, 12);
    transform: translateX(22px);
  }
  body.dark .icon-theme::after{
    background-color: #444;
    position: absolute;
    top: 1.3px;
    left: -2px;
    content: "";
    height: 15px;
    width: 14.5px;
    display: block;
    border-radius: 50%

  }

  body.dark  .toggle-theme{
    background-color: #444;
  }