.createProduct-container {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.8);
  width: 90%;
  max-width: 500px;
  padding: 2em;
  margin: 10% auto 0 auto;
  border-radius: 5px;
  margin-top: 10%;

  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */
  position: relative;
}

.createProduct-container h3 {
  color: #ddd;
 text-align: center;
}
 .form-item {
  background-color:#f0e7e0;
  padding: .4em .5em;
  margin: 20px 0;
  border-radius: 5px;
  font-size: 1.1em;
  display: flex;
  /* justify-content: space-between; */
}

.form-item input {
  width: 100%;
  padding: .3em 0;
  margin-left: .2em;
  border: none;
  border-radius: 5px;
  background-color:#f0e7e0;
}
.form-item input:focus {
  outline: none;
}

.form-container button {
  /* background-color: #f2e3d5; */
  background-color:#f0e7e0;
  width: 90%;
  max-width: 15em;
  padding: .8em 0;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 10px auto 0 auto;
  transition: 0.2s ease-in;
}

.form-container button:hover {
  cursor: pointer;
  background-color: #ddd;
}

.form-container .close-icon {
  transition: ease-in 0.1s;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.form-container .close-icon:hover {
  cursor: pointer;
  transform: scale(1.15);
}
