.typesOfMeals-header {
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.typesOfMeals-empty-header {
  display: flex;
  justify-content: center;
}

.used-cook-icon {
  color: var(--main-color);
  margin: 20px 0;
}

.single-meal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin: 6px 0;
  padding: 5px 15px;
  background-color: var(--fields-bg-color);
  color: var(--main-font-color);
  transition: ease-in-out 0.2s;
}
.single-meal:hover {
  background-color: var(--fields-hover-bg-color);
}

a {
  text-decoration: none;
  color: #000;
}
.btn-add-more-mealList {
  position: fixed;
  bottom: 5%;
  left: 50%;
  margin-left: -53.66px;
  margin-bottom: 20px;
  background: var(--btns-bg);
  color: var(--btns-color);
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  font-size: 18px;
  font-weight: 400;
  transition: ease 0.2s;
}

.btn-add-more-mealList:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.emptyList {
  font-size: 24px;
  color: #f3f4e6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.emptyList p {
  margin: 2px 0;
}
