.single-item-container {
  display: flex;
  justify-content: space-between;
}

.single-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  margin: 2.5px 0;
  background-color: var(--fields-bg-color);
  width: 100%;
  border-radius: 5px;
  transition: all 0.05s ease;
}

.single-item-container:first-child {
  padding-top: 20px;
}

.single-item:hover {
  cursor: pointer;
  background-color: var(--fields-hover-bg-color);
  transform: scale(1.01);
}

.product-info {
  /* font-size: 17px; */
  margin-right: 10px;
}

.icons {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.single-item .icons img {
  transition: 0.1s ease-in;
}

.single-item .icons img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.single-item .form-edit {
  display: flex;
}

.single-item .form-edit img {
  transition: 0.1s ease-in;
}

.single-item .form-edit img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.send-img {
  margin-left: 5px;
}

.single-item-container .send-img:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: var(--fields-hover-bg-color);
}

@media (max-width: 550px) {
  .icons {
    width: 35%;
  }
}
