@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Titillium+Web:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Titillium Web', sans-serif;
  font-weight: lighter;
  letter-spacing: .6px;
}

/* purple -  #a74ee8 */

.App {
  height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-font-color)
}


:root {
    --main-bg-color: #eee;
    --main-color: #b69033;
    --main-font-color: #000;

    --fields-bg-color: #fff;
    --fields-hover-bg-color: #ededed;

    --nav-bg-color: #283730;
    --nav-color: #fff;

    --btns-bg: linear-gradient(90deg,
          rgba(0, 7, 36, 1) 0%,
          rgba(9, 55, 121, 1) 75%,
          rgba(0, 92, 255, 1) 100%);

    --bottom-bar-bg: #eee;
    --bottom-bar-color: #555;

    --function-bar-bg: #444;
}



body.dark {
  --main-bg-color: #222;
  --main-font-color: #fff;

  --fields-bg-color: #444;
  --fields-hover-bg-color: #333;

  --nav-bg-color: #283730;
  
  --bottom-bar-bg: #333;
  --bottom-bar-color: #999
}

.disabled {
  opacity: 0.3;
  cursor: auto;
}
