@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --main-bg-color: #026773;
  --fields-bg-color: #f0e0d4;
  /* --fields-bg-color: #f3f4e6; */
  --fields-hover-bg-color: #e0d0c3;
}

.disabled {
    opacity: 0.3;
    cursor: auto;
}