@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Titillium+Web:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Titillium Web', sans-serif;
  font-weight: lighter;
  letter-spacing: .6px;
}

.App {
  height: 100vh;
  background-color: var(--main-bg-color);
}

:root {
  --main-bg-color: darkslategray;
  --fields-bg-color: #fefefe;
  --fields-hover-bg-color: #e7d8ce;
  --nav-bg-color: #000;
  --nav-color: #777;
  --btns-bg: linear-gradient(90deg,
      rgba(0, 7, 36, 1) 0%,
      rgba(9, 55, 121, 1) 75%,
      rgba(0, 92, 255, 1) 100%);
}



body.dark {
  --main-bg-color: #000;
  /* --fields-bg-color: #f7f2ee; */
  --fields-bg-color: #fff;
  /* --fields-hover-bg-color: #d4bfb1; */
  --nav-bg-color: #222;
  --nav-color: #999;
}

/* [data-theme="light"] {
  --main-bg-color: #fcfcfc;
} */

.disabled {
  opacity: 0.3;
  cursor: auto;
}
