.bottomBar-container{
    position: fixed;
    bottom:0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid gray;
    background-color: #eee;
    padding: 5px 0
}

/* .iconContainer {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 10px

} */

.bottomBar-icon {
    color: #777
}

.bottomBar-icon_clicked {
color: rgb(167, 78, 232);
}



@media (min-width: 700px){
    .bottomBar-container{
        display: none
    }
}