.bottomBar-container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  border-top: 2px solid gray;
  background-color: var(--bottom-bar-bg);
  padding: 5px 0;
}

.bottomBar-icon {
  color: var(--bottom-bar-color);
}

.bottomBar-icon_clicked {
  color: var(--main-color);
}

@media (min-width: 700px) {
  .bottomBar-container {
    display: none;
  }
}
