.cook-container {
/* border: 2px solid green; */
background-color: darkslategray;
/* height: 100vh; */
}

.inside-cook {
  /* border: 2px solid red; */
  /* width: 90%; */
  max-width: 700px;
  min-height: 90vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: .1fr 50fr 50fr .1fr;
  grid-template-rows: 1fr 7fr 7fr 1fr;
  gap: 2.4rem;
}

.inside-cook a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s ease-in-out;
  border-radius: 15px;
  text-decoration: none;
  color: #000;
  position: relative;
}
.inside-cook a:hover {
  cursor: pointer;
  transform: scale(1.014);
}

.inside-cook img {
  transition: 0.2s ease;
}
.inside-cook img:hover {
  transform: scale(1.07);
}
.cook-icon {
  width: 110px;
}

.inside-cook .type-of-meal {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: linear-gradient(
    90deg,
    rgba(0, 7, 36, 1) 0%,
    rgba(9, 55, 121, 1) 75%,
    rgba(0, 92, 255, 1) 100%
  );
  color: #fff;
  margin: 10px;
  padding: 5px 15px;
  border-radius: 5px;
}

.breakfast {
  background-color: bisque;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.lunch {
  background-color: bisque;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.supper {
  background-color: bisque;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.snack {
  background-color: bisque;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

@media (max-width: 600px){
  .inside-cook {
    grid-template-rows: 1fr 3fr 3fr 1fr;
    gap: .9rem
  }
}